@charset "UTF-8";

.container {
  width: 960px;
  margin: 0 auto;
}

body {
  color: #707070;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

h1 {
  font-size: 35px;
}

.header-right{
  display: flex;
  font-size: 20px;
  height: 100%;
  align-items: center;
}

.header-right li:nth-child(2) {
  margin: 0 27px;
}

.top-image {
  width: 100%;
}

.sub-title {
  font-size: 35px;
  margin-top: 35px;
  margin-left: 15px;
  margin-bottom: 35px;
}

.article {
  width: 300px;
  margin-bottom: 30px;
}

.article-img {
  width: 100%;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-content {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.read-more {
  text-align: right;
}

.read-more a {
  color: aqua;
  font-size: 20px;
  text-decoration: none;
}

@media screen and (max-width:960px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .header-right{
        display: none;
    }

    .articles{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

.cotact-title{
  font-size: 35px;
  margin-top: 35px;
  margin-left: 15px;
  margin-bottom: 35px;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 650px;
}

.contact-text{
  height: 50px;
  margin-bottom: 30px;
}

input, textarea {
  font-size: 20px;
}

button{
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: gray;
  color: rgb(254, 252, 252);
  border-radius: 10px;
}

footer{
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
}

small{
  color: white;
}